<app-topbar pagetitle="News & Events" ></app-topbar>
<ion-content class="ion-no-padding">
<ion-card mode="ios">
    <ion-list lines="no-line">
    <ion-item >
        <ion-thumbnail slot="start">
          <img src="../../../assets/noImg.png">
        </ion-thumbnail>
        <ion-label>
          <b class="text-danger">Arun kumar</b>
          <p>2003 - E & I</p>
          <p>Manager, Hardware Testing </p>
          <p>Enlighted Inc</p>
          <p>Chennai, India</p>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-card>
</ion-content>
