<app-topbar pagetitle="Achievements"></app-topbar>
<ion-content class="ion-no-padding">
  <ion-list lines="full">

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../assets/noImg.png">
      </ion-thumbnail>
      <ion-label>
        <b>Achievement 1</b>
        <p class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
        <p><i class="fa fa-user"></i>&nbsp; suresh &nbsp;<i class="fa fa-clock-o"></i>&nbsp;20 May 2020</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../assets/noImg.png">
      </ion-thumbnail>
      <ion-label>
        <b>Achievement 2</b>
        <p class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
        <p><i class="fa fa-user"></i>&nbsp; suresh &nbsp;<i class="fa fa-clock-o"></i>&nbsp;20 May 2020</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../../assets/noImg.png">
      </ion-thumbnail>
      <ion-label>
        <b>Achievement 3</b>
        <p class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
        <p><i class="fa fa-user"></i>&nbsp; suresh &nbsp;<i class="fa fa-clock-o"></i>&nbsp;20 May 2020</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>