<ion-header translucent="true">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<super-tabs>
    <super-tabs-toolbar slot="top">
        <super-tab-button>
            <!-- <ion-icon name="home"></ion-icon> -->
            <ion-label>Requirements</ion-label>
        </super-tab-button>
        <super-tab-button>
            <!-- <ion-icon name="home"></ion-icon> -->
            <ion-label>Sell</ion-label>
        </super-tab-button>
        <super-tab-button>
            <!-- <ion-icon name="home"></ion-icon> -->
            <ion-label>Vacancies</ion-label>
        </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
        <super-tab>
            <ion-content>
                <div class="noRecordContainer">
                    <ion-text>
                      <b>Content Coming Soon .....</b>
                    </ion-text>
                  </div>
            </ion-content>
        </super-tab>
        <super-tab>
            <ion-content>
                <div class="noRecordContainer">
                    <ion-text>
                      <b>Content Coming Soon .....</b>
                    </ion-text>
                  </div>
            </ion-content>
        </super-tab>
        <super-tab>
            <ion-content>
                <div class="noRecordContainer">
                    <ion-text>
                      <b>Content Coming Soon .....</b>
                    </ion-text>
                  </div>
            </ion-content>
        </super-tab>
    </super-tabs-container>
</super-tabs>

<!-- <ion-footer>
    <ion-title class="ion-text-center">
        <ion-button (click)="logutfn()" color="success">
            Logout
        </ion-button>
    </ion-title>
</ion-footer> -->