<ion-header translucent="true">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<super-tabs>
    <super-tabs-toolbar slot="top">
        <super-tab-button>
            <!-- <ion-icon name="home"></ion-icon> -->
            <ion-label>Requirements</ion-label>
        </super-tab-button>
        <super-tab-button>
            <ion-label>Sell</ion-label>
        </super-tab-button>
        <super-tab-button>
            <ion-label>Vacancies</ion-label>
        </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
        <super-tab>
            <ion-content>
                <ion-list lines="full" >
                    <ion-item>
                        <ion-label>
                            <b>Requirements 1</b>
                            <p class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                            <p><i class="fa fa-user"></i>&nbsp; suresh &nbsp;<i class="fa fa-clock-o"></i>&nbsp;20 May 2020</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <b>Requirements 2</b>
                            <p class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                            <p><i class="fa fa-user"></i>&nbsp; suresh &nbsp;<i class="fa fa-clock-o"></i>&nbsp;20 May 2020</p>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <b>Requirements 3</b>
                            <p class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                            <p><i class="fa fa-user"></i>&nbsp; suresh &nbsp;<i class="fa fa-clock-o"></i>&nbsp;20 May 2020</p>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </super-tab>
        <super-tab>
            <ion-content>
                <ion-card>
                    <img src="../../../assets/offer1.jpg" style="height: 250px;width: 100%;" />
                </ion-card>
                <ion-card>
                    <img src="../../../assets/speaker-background.png" />
                </ion-card>
                <ion-card>
                    <img src="../../../assets/offer2.jpg" style="height: 250px;width: 100%;" />
                </ion-card>
            </ion-content>
        </super-tab>
        <super-tab>
            <ion-content>
                <ion-content>
                    <ion-list lines="full" >
                        <ion-item>
                            <ion-label>
                                <b>Vacancies 1</b>
                                <p class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                                <p><i class="fa fa-user"></i>&nbsp; suresh &nbsp;<i class="fa fa-clock-o"></i>&nbsp;20 May 2020</p>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <b>Vacancies 2</b>
                                <p class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                                <p><i class="fa fa-user"></i>&nbsp; suresh &nbsp;<i class="fa fa-clock-o"></i>&nbsp;20 May 2020</p>
                            </ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                <b>Vacancies 3</b>
                                <p class="ion-text-wrap">Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>
                                <p><i class="fa fa-user"></i>&nbsp; suresh &nbsp;<i class="fa fa-clock-o"></i>&nbsp;20 May 2020</p>
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-content>
        </super-tab>
    </super-tabs-container>
</super-tabs>

<!-- <ion-footer>
    <ion-title class="ion-text-center">
        <ion-button (click)="logutfn()" color="success">
            Logout
        </ion-button>
    </ion-title>
</ion-footer> -->