<!-- <app-topbar pagetitle="Business Categories"></app-topbar> -->
<ion-header translucent="true">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<!-- <ion-footer>
    <ion-title class="ion-text-center">
        <ion-button (click)="logutfn()" color="success">
            Logout
        </ion-button>
    </ion-title>
</ion-footer> -->